@font-face {  
    font-family: '段宁行书'; 
    src: url('段宁毛笔行书.ttf');
    font-weight: normal;  
    font-style: normal;  
}  
@font-face {  
    font-family: '简雁翎'; 
    src: url('简雁翎.ttf');
    font-weight: normal;  
    font-style: normal;  
}  