a {
  text-decoration: none;
}
.theme--light.application{
  background: none;
}

.v-dialog .v-card__title {
  justify-content: center;
  padding-bottom: 0;
}

.theme--light.v-pagination .v-pagination__navigation .v-icon{
    font-size: 1.3rem!important;
}
.sel-none{
  user-select: none!important;
}
.d-f{
  display: flex!important;
}
.min-h{
    min-height:150px!important;
}
.f-col{
  flex-direction: column;
}
.f-row{
  flex-direction: row;
}
.p-r{
  position: relative;
}
.align-bottom{
  align-items: flex-end;
}
.justify-right{
  justify-content: right;
}
.justify-between{
  justify-content: space-between;
}
.f-1{
  flex:1;
}
.box-shadow{
  box-shadow:0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  
}
.application--wrap{
  /* overflow: hidden; */

}
li{
  list-style-type: none;
}
.paragraph{
  text-indent: 2rem;
  line-height: 1.9rem;
  font-size: 1.2rem;
}
.service-box{
  max-width: 860px;
  padding-top:80px;
}
@media screen and (max-width: 768px) {
    .mobile table.v-table tr {
      max-width: 100%;
      position: relative;
      display: block;
    }

    .mobile table.v-table tr:nth-child(odd) {
      border-left: 6px solid deeppink;
    }

    .mobile table.v-table tr:nth-child(even) {
      border-left: 6px solid cyan;
    }

    .mobile table.v-table tr td {
      display: flex;
      width: 100%;
      border-bottom: 1px solid #f5f5f5;
      height: auto;
      padding: 10px;
    }

    .mobile table.v-table tr td ul li:before {
      content: attr(data-label);
      padding-right: .5em;
      text-align: left;
      display: block;
      color: #999;

    }
    .v-datatable__actions__select
    {
      width: 50%;
      margin: 0px;
      justify-content: flex-start;
    }
    .mobile .theme--light.v-table tbody tr:hover:not(.v-datatable__expand-row) {
      background: transparent;
    }

  }