@import "./variables.scss";
@import "./mixin.scss";
@import "./transition.scss";
@import "./element-ui.scss";
@import "./sidebar.scss";

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%;
}

.app-container {
  padding: 20px;
}

.pt-5 {
  padding-top: 30px;
}
.mx-6 {
  margin-right: 120px;
  margin-left: 120px;
}
.mx-4 {
  margin-right: 80px;
  margin-left: 80px;
}
.my-5 {
  margin-top: 75px;
  margin-bottom: 75px;
}
.mb-1 {
  margin-bottom: 15px;
}
.mb-2 {
  margin-bottom: 30px;
}
.mt-2 {
  margin-top: 30px;
}
.mb-5 {
  margin-bottom: 75px;
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.block {
  display: block;
  width: 100%;
}
